version: '3'

services:
  consul:
    image: consul
    command: "consul agent -dev -client 0.0.0.0"
    ports:
      - "8500:8500"

  eventstore:
    image: eventstore/eventstore
    ports:
      - "2113:2113"
      - "1113:1113"

  web-app:
    image: jefferyb/polymer-cli
    command: "polymer serve -H 0.0.0.0"
    ports:
      - "8081:8081"
    volumes:
      - ./web-app/src:/home/polymer/app

  backend:
    image: backend
    build: 
      context: ./backend
    environment:
      - ASPNETCORE_URLS=http://+:5000
      - STITCH_MARKER__CONSUL_URL=http://172.17.0.1:8500
    ports:
     - "5000:5000"
    depends_on:
     - "consul"
